@{
//empty layouts?
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

<div class="job-listings">
    @foreach (var Job in Model)
    {
        <div class="job-listing">
            <h3>@Job.Title</h3>
            <p>@Job.Description</p>

            @if (Job.Worker == null)
                {
                <p>This job is unclaimed.</p>
                    <h4>@Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</h4>
            }
            else
            {
                <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

            }
        </div>
    }
</div>
