@model IEnumerable<MrFixIt.Models.Job>


@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li class="btn">This job is unclaimed. <button class="btn btn-outline-success btn-sm job-list" data-request-url='@Url.Action("Claim", new { @text = @Job.Title, id = Job.JobId })'>Claim</button></li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>


    <hr />
}