@{
//empty layouts?
}

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
       
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>

        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
        @foreach (var Job in Model.Jobs)
        {
            <div>
                <h5>@Job.Title</h5>
                <p>@Job.Description</p>

                @if (@Job.Completed == true && Job.Pending == true)
                {
                    <div>This job is complete!</div>
                    <div id="complete-job">
                    </div>
                }
                else if (@Job.Pending == false)
                {
                    <div id="start-job">
                        <form action="StartJob" class="start-job">
                            <input type="hidden" name="startJob" value="@Job.JobId" />
                            <button type="submit" class="btn btn-info btn-sm">Start Job</button>
                        </form>
                    </div>
                }
                else if (@Job.Pending == true && Job.Completed == false)
                {
                <div id="@Job.JobId">
                    <h3>You have started @Job.Title!</h3>
                    <form action="CompleteJob" class="complete-job">
                        <input type="hidden" name="completeJob" value="@Job.JobId" />
                        <button type="submit" class="btn btn-sucess btn-sm">Complete Job</button>
                    </form>
                </div>
                }                
                <hr />
            </div>
        }
    </div>
}